<div class="app">
    <h1>Apache Cordova</h1>
    <div id="deviceready">
        <p class="status pending blink">Connecting to Device</p>
        <p class="status complete blink hide">{{platform}} is Ready !</p>
    </div>
</div>